#google-Logo {
    width: 150px;
    height: 50px;margin: 0% auto;
}
p { margin-top: 0px;
    margin-bottom: 0px;}
#content {background-color: rgb(241, 240, 240);width: ;
    text-align:center;
    margin-bottom: 5px;height: 79px;px;margin-top: 10px; 
}
#Search-square { border-color: rgb(121, 121, 232);border-width: 1px;}
#google-search { margin-top: 1px;border-color: rgb(78, 114, 173);
    border-radius: 5%;border-width: 2px;}
#google-search2 { margin-top: 1px;border-color: rgb(78, 114, 173);
    border-radius: 4%;border-width: 2px;margin-left: 4px;}
.container {display: flex;}
#box1 { background-color: rgb(64, 219, 219);width:30%; 
    text-align: center;margin-right: 5px;flex: 1;justify-content: center;}
#box2 { background-color: rgb(46, 200, 200);width: 20%;%;margin-left: 5px;
    text-align: center;flex: 1;justify-content: center;}
#box3 { background-color: rgb(18, 151, 151);width:30%;flex: 1;;
    text-align: center;margin-left:5px;justify-content: center;}
#copy{ 
    text-align: center; 
    margin-top: 10px;
}
#Search-square { border-color: royalblue;}
#subs { border-color: royalblue !important;}